<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav>
        <mat-nav-list  (click)="sidenav.close()">
            <a mat-list-item routerLink="/">
                <mat-icon>movie_creation</mat-icon>
                <span>Movie</span>
            </a>
            <a mat-list-item routerLink="/actor">
                <mat-icon>face</mat-icon>
                <span>Actor</span>
            </a>
            <a mat-list-item routerLink="/about">
                <mat-icon>notifications</mat-icon>
                <span>About</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-toolbar class="navatas" color="primary" (click)="sidenav.open()">
        <button mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <span class="brand">MOVIE PLAYLISTS</span>
    </mat-toolbar>

    <router-outlet></router-outlet>
</mat-sidenav-container>