<div class="p-grid border-box" style="margin: 10px; padding: 5px; height: 40%;">
    <div class="p-grid p-col-11 border-box p-dir-col-rev p-nogutter p-col-nogutter" style="margin-right: 10px;">
        <div class="block border-box" style="margin: 3px 5px;">
            <h1 align="center">Welcome to My Website</h1>
            <p align="center" style="padding: 10px 50px;">Benar sekali, seperti yang sudah Kami jelaskan sedikit terkait pengertiannya di atas, ini merupakan suatu bentuk pengobatan yang dimaksudkan untuk tidak berpengaruh pada pengguna, namun meniru obat yang diuji dalam segala hal. Juga dikenal sebagai plasebo.</p>
        </div>
    </div>
</div>

