<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav>
      <mat-nav-list  (click)="sidenav.close()">
          <a mat-list-item routerLink="/user-add">
              <mat-icon>movie_creation</mat-icon>
              <span>Add Users</span>
          </a>
          <a mat-list-item>
              <mat-icon>face</mat-icon>
              <span>Add News</span>
          </a>
          <a mat-list-item>
              <mat-icon>notifications</mat-icon>
              <span>About</span>
          </a>
      </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar class="navatas" color="primary">
      <button mat-icon-button (click)="sidenav.open()">
          <mat-icon>menu</mat-icon>
      </button>
      <span class="brand">SYAIBA ADI PRAMUDITA</span>
      <div class="nav">
        <a href="#">Home</a>
        <a [routerLink]="['user-list']">User List</a>
        <a href="#">News List</a>
      </div>
  </mat-toolbar>

 <router-outlet></router-outlet>
</mat-sidenav-container>

<!-- <h1>Hello</h1> -->