<div class="p-grid border-box" style="margin: 10px; padding: 5px; height: 100%;">
  <div class="p-grid p-col-4 border-box p-dir-col-rev p-nogutter p-col-nogutter" style="margin-right: 10px;">
        <div class="block border-box" style="margin: 3px 5px;">1</div>
        <div class="block border-box" style="margin: 3px 5px;">2</div>
        <div class="block border-box" style="margin: 3px 5px;">3</div>
        <div class="block border-box" style="margin: 3px 5px;">4</div>
  </div>
  <div class="p-col p-grid p-dir-col p-justify-around p-nogutter p-col-nogutter">
    <div class="p-grid p-col-12 border-box p-justify-around p-align-center p-nogutter p-col-nogutter" style="flex: 1;">
        <div class="inline isi border-box" >1</div>
        <div class="inline isi border-box" >2</div>
        <div class="inline isi border-box" >3</div>
        <div class="inline isi border-box" >4</div>
    </div>
    <div class="p-col-12 border-box spacing" style="flex: 1;">Middle</div>
    <div class="p-col-6 border-box" style="flex: 1;">Bottom</div>
  </div>
</div>


