:host{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}
.example-card {
    width: 400px;
    margin-bottom: 8px;
    border: 1px solid black;
  }