.container{
    display: flex;
    flex-flow: row wrap;
    margin: 10px;
    gap: 10px;
  }
.example-card {
    width: 300px;
    height: 500px;
}
  
.example-header-image {
    background-size: cover;
}