@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Abyssinica SIL', serif;
}

body{
    background-color: darkgray;
}

h1{
    margin: 5px;
}
.pendahuluan{
    text-indent: 50px;
    text-align: justify;
    margin: 5px;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    background-color: white;
    width: 350px;
    height: 580px;
    margin: 10px;
    border-radius: 20px;
}

.card:hover{
    box-shadow: 6px 13px 17px 7px rgba(0,0,0,0.58);
    -webkit-box-shadow: 6px 13px 17px 7px rgba(0,0,0,0.58);
    -moz-box-shadow: 6px 13px 17px 7px rgba(0,0,0,0.58);
}
.card-image{
    border: 5px solid grey;
    margin-bottom: 10px;
    background-size: cover;
    border-radius: 20px;
    margin: 5px;
}

.card-image img{
    width: 310px;
    height: 200px;
    margin: 1px;
    border-radius: 20px;
}
div ~ h2{
    background-color: lightslategray;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
    color: white;
}
.card p{
    margin: 5px;
    text-align: justify;
    border-bottom: 2px solid grey;
}

.card-btn{
    margin-top: 25px;
    display: block;
    text-align: center;
}
.card-btn a{
    margin: 10px;
    padding: 10px;
    border-style:  solid;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

.card-btn a:hover{
    background-color: blue;
    color: white;
}