.outer-div {
  display: table;
  background: slategray;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.mid-div {
  display: table-cell;
  vertical-align: middle;
}

.inner-div {
  margin-left: auto;
  margin-right: auto;
}

.full-width {
  width: 100%;
}

.no-margin-x {
  margin-left: 0px;
  margin-right: 0px;
}

.no-margin-y {
  margin-top: 0px;
  margin-bottom: 0px;
}

.align-end {
  text-align: end;
}
